*{
    font-family: 'Calibri', cursive;
}

html {
    background-color: #f9f9f9;
}

/*  Header  */
header{
    background: #317fc4;
    height: 70px;
    box-shadow: 2px 1px 10px black;
}

header h5{
    margin-top: 22px;
}

header a{
    text-decoration: none;
}

header h5 a{
    color: #ffffff;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

/*header ul li{*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    padding: 22px;
}

/*  Hover для сайта  */
header ul li a:hover {
    background: #3464a2;
    transition: 0.5s;
    color:#fff;
}

header ul li ul{
    position: absolute;
    top: 170px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background: white;
    color: #424242;
}